@media screen and (max-width: 992px) {
	.standard-view {
		width: 100%;
		margin-bottom: 15px;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd;
	}

    .standard-view > table {
        border: none;
        margin-bottom: 0;
    }
}