.content {
	padding-top: 20px;
	padding-bottom: 30px;
}
textarea {
	resize: none;
}
h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 20px;
	margin-top: 40px;
}
.standard-view td {
	text-align: center;
}
/* Sticky footer styles */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
.footer-inner {
	text-align: center;
	color: #777;

	padding-top: 20px;
}